/* CSS style */

body {
  margin: 0 auto;
  /* display: flex;
  flex-direction: column; */
  width: 1440px;
  height: 1440px;
  padding: 50px;
}

.top-div {
  width: 1440px;
  height: 543px;
}

.img {
  background-image: url("../img/desktop-image-hero-1.jpg");
  background-size: cover;
  background-position: center;
  width: 800px;
  height: 700px;
  float: left;
}

.img#chair {
  background-image: url("../img/desktop-image-hero-3.jpg");
  background-size: cover;
  background-position: center;
  width: 800px;
  height: 700px;
  float: left;
}

.img#globally {
  background-image: url("../img/desktop-image-hero-2.jpg");
  background-size: cover;
  background-position: center;
  width: 800px;
  height: 700px;
  float: left;
}

nav h3 {
  /* color: hsl(0, 0%, 100%); */
  font-weight: bold;
  font-size: 25px;
}

nav {
  /* display: flex;
  flex-direction: row; */
  font-size: 12px;
  color: hsl(0, 0%, 100%);
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  display: inline;
}

a {
  color: hsl(0, 0%, 100%);
  text-decoration: none; /* no underline */
  padding: 15px;
}

.txt {
  width: 400px;
  height: 537px;
  margin-left: 5px;
  padding-left: 150px;
  padding-top: 200px;
  padding-bottom: 20px;
  background-color: white;
  color: grey;
  float: left;
}

.hero-icon-short-arrows-dark {
  width: 70px;
  height: 70px;
  background-color: black;
  color: white;
  margin-right: 0px;
}

.hero-icon-short-arrows-light {
  width: 70px;
  height: 70px;
  background-color: darkgrey;
  color: white;
  margin-left: 0px;
  padding-left: 0px;
}

.txt h2 {
  color: black;
  width: 300px;
  font-size: 30px;
  text-align: left;
  color: hsl(0, 0%, 27%);
}

.txt h3 {
  text-transform: uppercase;
  letter-spacing: 1em;
  float: left;
}

.hero-icon-arrow {
  width: 50px;
  height: 60px;
}

.bottom-div {
  width: 1440px;
  height: 500px;
  clear: left;
}

/* footer h4 {
  background-color: darkmagenta;
  margin: 0px;
} */

#dark.footer-img {
  background-image: url("../img/image-about-dark.jpg");
  width: 300px;
  margin-right: 5px;
  padding: 20px;
  float: left;
  height: 300px;
}

#light.footer-img {
  background-image: url("../img/image-about-light.jpg");
  width: 300px;
  margin-left: 5px;
  padding: 20px;
  float: left;
  height: 300px;
  margin-top: 0px;
  padding-top: 0px;
}
footer p {
  width: 510px;
  margin: 5px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 80px;
  float: left;
  height: 300px;
}

.attribution {
  clear: both;
}
