/* CSS style */

body {
  display: flex;
}

.full-width {
  width: 90em;
  height: 32em;
  box-sizing: border-box;
  display: flex;
}

#hero-image-discover {
  background-image: url(../furniture-shop/img/desktop-image-hero-1.jpg);
  background-size: cover;
  background-position: left;
  width: 61.25em;
  display: flex;
  justify-content: flex-start;
}

#nav-links {
  color: white hsl(0, 0%, 100%);
  font-family: "Spartan", sans-serif;
  font-weight: 600;
}

#room {
  font-size: ;
}

nav {
  font-size: 12px;
}

#innovative {
  display: flex;
  justify-content: flex-end;
  width: 28.75em;
  margin-left: 62.5em;
  background-color: white;
}
